body {
  background: #ddd;
  font: 14px/1.5 Arial;
  color: #555;
}
#page {
  background: #edf2f4;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.layout {
  max-width: 900px;
  margin: auto;
}
header {
  text-align: center;
  background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
  color: #fff;
  width: 100%;
  padding-top: 20px;
}
header > h1 {
  font-size: 30px;
  margin-bottom: 0;
}
header > p {
  color: #ccc;
  font-size: 14px;
}
aside {
  border-right: 1px solid #ccc;
  height: 100%;
  width: 240px;
  position: relative;
  padding-top: 100px;
}
aside .avatar {
  text-align: center;
  position: absolute;
  top: -80px;
  width: 100%;
}
aside .avatar img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

main {
  flex: 1;
  min-height: calc(100vh - 162px);
}
section {
  border-bottom: 1px solid #ccc;
  margin: 30px 20px 0 20px;
  padding-bottom: 20px;
}

section h3 {
  color: #5c99ca;
  font-size: 16px;
}
section a {
  color: #5c99ca;
}
section .skills > .item {
  display: flex;
  align-items: center;
}
section .skills > .item .keyword {
  width: 80px;
}
section .skills > .item .rate {
  flex: 1;
  height: 5px;
  background: #ccc;
}
section .skills > .item .rate i {
  display: block;
  background: #000;
  height: 5px;
}

section .contact .item > span {
  margin-left: 5px;
  vertical-align: middle;
}

li{
  margin-bottom: 8px;
}
ul > li > span{
  background: #5c99ca;
  border-radius: 8px;
  padding: 2px 4px;
  color: white;
  margin: 0 5px;
}